*.builtin
*.cmd
*.o
*.a
*.d
*.order
*.tmp
*.dtb
*.dts
*.dtout
*.dtbo
.config
arch/arm64/crypto/sha256-core.S
arch/arm64/include/generated/
arch/arm64/kernel/asm-offsets.s
arch/arm64/kernel/vdso/vdso.lds
arch/arm64/kernel/vdso/vdso.so
arch/arm64/kernel/vdso/vdso.so.dbg
arch/arm64/kernel/vmlinux.lds
certs/x509_certificate_list
fs/proc/.tmp_generic.ver
include/config/
include/generated/
kernel/bounds.s
null.dwo
scripts/asn1_compiler
scripts/basic/fixdep
scripts/dtc/dtc
scripts/dtc/dtc-lexer.lex.c
scripts/dtc/dtc-parser.tab.c
scripts/dtc/dtc-parser.tab.h
scripts/extract-cert
scripts/genksyms/genksyms
scripts/genksyms/lex.lex.c
scripts/genksyms/parse.tab.c
scripts/genksyms/parse.tab.h
scripts/kallsyms
scripts/kconfig/conf
scripts/kconfig/lexer.lex.c
scripts/kconfig/parser.tab.c
scripts/kconfig/parser.tab.h
scripts/mod/devicetable-offsets.h
scripts/mod/devicetable-offsets.s
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/selinux/genheaders/genheaders
scripts/selinux/mdp/mdp
scripts/sortextable
scripts/unifdef
security/samsung/defex_lsm/cert/pubkey_eng.der
security/samsung/defex_lsm/cert/pubkey_user.der
security/samsung/defex_lsm/defex_packed_rules.bin
security/samsung/defex_lsm/defex_packed_rules.inc
security/samsung/defex_lsm/pack_rules
security/samsung/proca/proca_certificate.asn1.c
security/samsung/proca/proca_certificate.asn1.h
security/selinux/av_permissions.h
security/selinux/flask.h
usr/gen_init_cpio
usr/include/asm-generic/
usr/include/asm/
usr/include/drm/
usr/include/gpu/
usr/include/linux/
usr/include/misc/
usr/include/mtd/
usr/include/rdma/
usr/include/scsi/
usr/include/sound/
usr/include/video/
usr/include/xen/
usr/initramfs_data.cpio

